@import url(https://fonts.googleapis.com/css?family=Raleway:400,,800,900);
html {
  width: 100%;
  height: 100%;
}

body {
  /* background: -webkit-linear-gradient(#ebece7, white);
 background: linear-gradient(#ebece7, white); */
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Raleway", sans-serif;
}

.container-for-back-img {
 /* // position: absolute; */

 position: inherit;
  /* -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
 transform: translate(-50%, -50%); */
  left: 50%;
  top: 50%;
}

.title {
  padding:  20px;
  /* padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: 800; */
  color: transparent;
  font-size: 120px;
  background: url("../../Images/nebula.jpg") repeat;
  background-position: 40% 50%;
  background-clip: text;
  -webkit-background-clip: text;
  position: relative;
  text-align: center;
  line-height: 90px;
  letter-spacing: -8px;
}

.subtitle {
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
}